<h1>Password reset instructions for <%= @user.username %></h1>
  <p>
    Your password reset code is 
        <strong><%= @user.reset_password_token %></strong>
        <br>
  </p>
<p>Thanks for joining and have a great day!</p>